@import "tailwindcss";

@theme inline {
  --color-background: #f9fafb;
  --color-foreground: #111827;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  -webkit-tap-highlight-color: transparent;
}

input, select, textarea {
  font-size: 16px !important;
}
